body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background: linear-gradient(#8098c9, #ebcd90);
    padding: 30px 0;
    height: 500px;
}

header h1 {
    color: #f4f4f4;
    font-size: 45px;
}

.steps-container {
    position: relative;
    width: 100%;
    height: 600px;
}

.step-box-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px 0;
    position: absolute;
    width: 100%;
    height: 700px;
    clip-path: polygon(0 0, calc(100% - 300px) 0, calc(100% - 300px) 70px, 100% 70px, 100% 100%, 0 100%);
    z-index: 3;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 50px;
}

.step-box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #b7bcb9;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px 0;
    position: absolute;
    width: 100%;
    height: 700px;
    clip-path: polygon(0 0, calc(100% - 200px) 0, calc(100% - 200px) 70px, 100% 70px, 100% 100%, 0 100%);
    z-index: 2;
    top: 50px;
    left: 0;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-box-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #5167a8;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    position: absolute;
    width: 100%;
    height: 700px;
    clip-path: polygon(0 0, calc(100% - 100px) 0, calc(100% - 100px) 70px, 100% 70px, 100% 100%, 0 100%);
    z-index: 1;
    top: 50px;
    left: 0;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
}

.step-number {
    background-color: rgb(124, 189, 238);
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    margin-right: 10px;
    z-index: 1;
    position: absolute;
    left: 20px;
}

.step-number2 {
    padding: 15px;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    left: calc(100% - 210px - 30px);
}

.step-number2-1 {
    background-color: rgb(124, 189, 238);
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    margin-right: 10px;
    z-index: 1;
    position: absolute;
    left: 20px;
}

.step-number3 {
    padding: 15px;
    font-size: 30px;
    z-index: 3;
    position: absolute;
    left: calc(100% - 120px - 30px);
}

.see-result {
    color: blue;
    border: 2px solid blue;
    background-color: white;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 24px;
    display: block;
    position: absolute;
    top: 450px;
    left: 720px;
}

.see-ai {
    background-color: darkblue;
    color: white;
    border: 2px solid blue;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
    position: absolute;
    top: 450px;
    left: 920px;
}

.step-description {
    font-size: 20px;
    margin-left: 70px;
}

#image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    border: 2px dashed #ccc;
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#image-upload {
    display: none;
}

.upload-label,
.upload-button {
    display: inline-block;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.upload-label {
    color: blue;
    border: 2px solid blue;
    background-color: white;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

.upload-button {
    background-color: darkblue;
    color: white;
    border: 2px solid blue;
}

#result {
    margin-top: 20px;
}

#canvasOutput {
    max-width: 100%;
    border: 1px solid #000;
}

#status {
    margin-top: 20px;
}

.hidden {
    display: none;
}

@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slide-out-left {
    animation: slideOutLeft 1s forwards;
}


/* 공통 모달 스타일 */
.modal, .modal2 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 로딩 모달 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 300px;
    text-align: center;
}

/* 결과 모달 스타일 */
.modal2 .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* 가로로 더 길게 설정 */
    max-width: 800px; /* 최대 너비 설정 */
    height: auto; /* 높이는 콘텐츠에 따라 자동 */
    text-align: center;
}

.pop-img {
    width: 100px;
    height: auto;
}

.pop-title {
    font-size: 24px;
}

.pop-content {
    font-size: 18px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes rotate-loading {
    100% {
        transform: rotate(360deg);
    }
}

.loading-popup-wrap .pop-img {
    animation: rotate-loading 3s linear infinite;
    transform-origin: 50% 50%;
}
