body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background: linear-gradient(#8098c9, #ebcd90);
    padding: 30px 0;
    height: 400px;
}

header h1 {
    color: #f4f4f4;
    font-size: 45px;
}

.steps-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.step-box-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px 0;
    position: absolute;
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, calc(100% - 300px) 0, calc(100% - 300px) 70px, 100% 70px, 100% 100%, 0 100%);
    z-index: 3;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    top: 50px;
}

.step-box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #b7bcb9;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px 0;
    position: absolute;
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, calc(100% - 200px) 0, calc(100% - 200px) 70px, 100% 70px, 100% 100%, 0 100%);
    z-index: 2;
    top: 50px;
    left: 0;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-box-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #5167a8;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    position: absolute;
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, calc(100% - 100px) 0, calc(100% - 100px) 70px, 100% 70px, 100% 100%, 0 100%);
    z-index: 1;
    top: 50px;
    left: 0;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
}

.step-number {
    background-color: rgb(124, 189, 238);
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    margin-right: 10px;
    z-index: 1;
    position: absolute;
    left: 20px;
    margin-top: 25px;
}

.step-number2 {
    padding: 15px;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    left: calc(100% - 210px - 30px);
}

.step-number2-1 {
    background-color: rgb(124, 189, 238);
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    margin-right: 10px;
    z-index: 1;
    position: absolute;
    left: 20px;
    margin-top: 15px;
}

.step-number3 {
    padding: 15px;
    font-size: 30px;
    z-index: 3;
    position: absolute;
    left: calc(100% - 120px - 30px);
    margin-top: 20px;
}

.see-result, .see-ai {
    width: 300px;
    height: 300px;
    padding: 20px;
    cursor: pointer;
    font-size: 24px;
    display: block;
    position: absolute;
    top: 300px;
    bottom: 300px;
}

.see-result {
    color: blue;
    border: 2px solid blue;
    background-color: white;
    left: 540px;  
}

.see-ai {
    background-color: darkblue;
    color: white;
    border: 2px solid blue;
    left: calc(720px + 300px + 20px);  
}

.step-description {
    position: absolute;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 10px;
}

/* 모달창 결과 */
#resultContainer {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: flex-start; /* 위쪽 정렬 */
    height: 100%;
    flex-direction: row; /* 수평 정렬 */
    margin-top: 20px; /* 위쪽으로 올리기 */
}

.result-section {
    flex: 1;
    margin: 10px;
    text-align: center;
}

#overlay {
    max-width: 100%;
    max-height: 100%;
    width: 500px; /* 원하는 너비로 설정 */
    height: 400px; /* 원하는 높이로 설정 */
}

/* 결과부분 */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.check-result {
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
    font-size: 25px;
    animation: blink 2s infinite; /* 2초 주기로 애니메이션 반복 */
}

/* 이미지 미리보기 박스 */
#image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
    margin-top: 30px;
    border: 2px dashed #ccc;
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#image-upload {
    display: none;
}

.upload-label,
.upload-button,
.webcam-button {
    display: inline-block;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.upload-label {
    color: blue;
    border: 2px solid blue;
    background-color: white;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

.upload-button {
    background-color: darkblue;
    color: white;
    border: 2px solid blue;
}

/* 웹캠 부분 */
#webcam-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 1200px;  
    height: 800px; 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
}

#webcam-video, #webcam-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#webcam-button { 
    color: blue;
    border: 2px solid blue;
    background-color: white;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}


#close-webcam-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 2;
}

#gpt-analyze {
    position: absolute;
    bottom: 10px;
    right: 510px;
}
#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 1;
}
#result {
    margin-top: 20px;
}

#canvasOutput {
    max-width: 100%;
    border: 1px solid #000;
}

#status {
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* 버튼 클릭시 화면 왼쪽으로 이동 */
@keyframes slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}
.slide-out-left {
    animation: slideOutLeft 1s forwards;
}
.modal, .modal2 {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 로딩 모달 스타일 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative; /* 상대 위치 지정 추가 */
}

/* 결과 모달 스타일 */
.modal2 .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* margin-top을 줄여서 상단 여백을 줄임 */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;  
    max-width: 1000px;  
    height: 500px; /* 높이를 화면 높이의 80%로 설정 */
    text-align: center;
    position: relative; /* 상대 위치 지정 추가 */
}

.pop-img {
    width: 100px;
    height: auto;
}

.pop-title {
    font-size: 24px;
    margin-top: 30px;
}

.pop-content {
    font-size: 18px;
}

.close-button {
    position: absolute; /* 절대 위치 지정 */
    top: 10px; /* 상단에서 10px */
    right: 10px; /* 우측에서 10px */
    color: #aaa;
    font-size: 36px; /* 폰트 크기를 키움 */
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.retry-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 로딩 부분 */
@keyframes rotate-loading {
    100% {
        transform: rotate(360deg);
    }
}

.loading-popup-wrap .pop-img {
    animation: rotate-loading 3s linear infinite;
    transform-origin: 50% 50%;
}

.chatting-container {
    width: 1500px;
    height: 400px;
    background-color: white;
    border: 1px solid #000000;  
    position: absolute;
    margin-left: 350px;
    margin-top: 500px;
    border-radius: 5%;
    border-width: 3px;
}
